.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 4rem;
}

.heading{
    font-size: 2rem;
    font-weight: 600;
}

.details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
}

.details>div{
    display: flex;
    justify-content: space-between;
}

.details>div>span:nth-of-type(2){
    font-weight: 600;
}

.statusContainer{
    display: flex;
    gap: 15rem;

}

.status{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 3rem;
    position: relative;
    align-items: center;
}

.status>*{
    fill: var(--themeRed);
}

.spinner{
    position: absolute;
    width: 6rem;
    top: -1.5rem;
    left: -1.5rem;
}

.pending{
    width: max-content;
    background-color: orange;
    padding: 0.5rem;
    font-size: 0.8rem;
    border-radius: 2rem;
    color: white;
}

.completed{
    background-color: rgb(159 230 53);
    padding: 0.5rem;
    font-size: 0.8rem;
    border-radius: 1rem;
    color: white;
}