.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    align-items: center;

}

.heading>:nth-child(1){
    font-size: 1rem;
    color: var(--themeRed);
}

.heading>:nth-child(2) , .heading>:nth-child(3){
    font-size: 2rem;
}

.services{
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.feature{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.ImageWrapper{
    height: 10rem;
    width: 10rem;
}

.feature>:nth-child(2){
    font-weight: bold;
    text-align: center;
}

.feature>:nth-child(3){
    word-wrap: break-word;
    color: var(--gray);
    width: 20rem;
    text-align: center;
}